body {
    padding-top: 56px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: red;
    background-color: #212529;
    text-align: center;
}
.btn-secondary {
    background-color: white;
    color: #007bff;
    border: 1px solid rgba(0,0,0,.125);
}