@page
@model GG_Webbshop.Pages.AboutUsPageModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>



<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">Om oss</h1>
                <p class="lead text-muted mb-0">Bästa eleverna på IT-Högskolan, no bs!</p>
               
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid"></div>
        </div>
    </div>
</div>


<div class="bg-light py-5">
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">DreamTeam++<h2>
                <p class="font-italic text-muted">Grupp nummer 1. GG WP</p>
            </div>
        </div>

        <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="~/img/Staff/Tonysvartvit.jpg" alt="" width="150" class="rounded img-fluid shadow-sm">
                    <p></p>
                    <h5 class="mb-0">Antonio Santana</h5><span class="small text-uppercase text-muted">Developer</span>
                                                         <p class="font-italic text-muted">
                                                             .Net-utvecklare, teamets Runningback som pushar oss framåt med både piska och morot. Teamets energi-knippe, har alltid ett skämt på lager och
                                                             är mån om den positiva känslan och atmosfären i teamet.
                                                         </p>

                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="~/img/Staff/Az.jpg" alt="" width="150" class="rounded img-fluid shadow-sm">
                    <p></p>
                    <h5 class="mb-0">Azamat Azhibayev</h5><span class="small text-uppercase text-muted">Developer</span>
                                                          <p class="font-italic text-muted">
                                                              Frontend-utvecklare och .Net-utvecklare, lagets Runningback, som kör springspel när det gäller design och användar-vänlighet,
                                                              vår inhouse-expert på allt frontend.
                                                          </p>

                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="~/img/Staff/johnsjoosvartvit.jpg" alt="" width="150" class="rounded img-fluid shadow-sm">
                    <p></p>
                    <h5 class="mb-0">John Sjöö</h5><span class="small text-uppercase text-muted">Developer</span>
                                                    <p class="font-italic text-muted">
                                                        .Net-utvecklare, lagets Wide Receiver som alltid tar emot passningarna från resten av teamet och ser till att vi kommer framåt och i mål.
                                                    </p>


                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="~/img/Staff/Tess3svartvit.jpg" alt="" width="150" class="rounded img-fluid shadow-sm">
                    <p></p>
                    <h5 class="mb-0">Therese Skärlund</h5><span class="small text-uppercase text-muted">Developer</span>
                                                          <p class="font-italic text-muted">
                                                              .Net-utvecklare, lagets Linebacker och Saftey som ser till att ingen bugg tar sig in i programmet, med fokus på databas och API.
                                                          </p>


                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="~/img/Staff/MatteGG.jpg" alt="" width="150"  class="rounded img-fluid shadow-sm ">
                    <p></p>
                    <h5 class="mb-0">Mattias Hermansson Salmi</h5><span class="small text-uppercase text-muted">Developer</span>
                                                                  <p class="font-italic text-muted">
                                                                      .Net-utvecklare, lagets kicker och Quarterback, har alltid en plan, en mall för utförandet och ser till att laget håller sig till planen när
                                                                      arbetet drar igång
                                                                  </p>

                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="~/img/Staff/Callesvartvit.png" alt="" width="150" class="rounded img-fluid shadow-sm">
                    <p></p>
                    <h5 class="mb-0">Carl-Magnus Hammar</h5><span class="small text-uppercase text-muted">ITP Student</span>
                                                            <p class="font-italic text-muted">
                                                                SCRUM-MASTER/PRODUKTÄGARE <br />
                                                                Har hållt i tyglarna för den administrativa delen av det agila arbetet. Sett till att daylies hållts varje dag och
                                                                samlat teamet för Retrospectives.
                                                            </p>

                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Shamsul Islam</h5><span class="small text-uppercase text-muted">IPT Student</span>
                    <p class="font-italic text-muted">
                    </p>

                </div>
            </div>

            <!-- End-->

        </div>
    </div>
</div>
