@page
@model GG_Webbshop.Pages.DeleteUserViewModel
@{
}

<p class="text-danger">Vill du verkligen ta bort ditt konto?</p>
<form method="post">
    <input style="width : 200px" type="submit" value="Radera" class="btn btn-danger" />
    <a style="width : 200px" class="btn btn-success" asp-page="./UserPage">Tillbaka till din profil</a>
</form>
