@page
@model GG_Webbshop.Pages.DenyCookiePageModel
@{
}

<h2>Viktig information</h2>
<p>För att använda vår hemsida måste du godkänna användandet av cookies. Du kommer fortfarande kunna använda sidan även om du inte klicka godkänn men genom att göra det godkänner du villkoren.</p>

<a href="/Index">Tillbaka till startsidan</a>
