@page
@model GG_Webbshop.Pages.LoginViewModel
@{
}
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h3 class="login-heading mb-4">Välkommen Tillbaka!</h3>
                                <form method="post">
                                    <div class="form-label-group">
                                        <label for="UserName" class="control-label"></label>
                                        <input asp-for="UserName" id="inputEmail" class="form-control" placeholder="Användarnamn" autocomplete="off">

                                    </div>
                                    <div class="form-label-group">
                                        <label for="Password" class="control-label"></label>
                                        <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Användarnamn" autocomplete="off">
                                        @if (!string.IsNullOrEmpty(Model.Message))
                                        {
                                            <p>@Model.Message</p>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.MessageMail))
                                        {
                                            <p>@Model.MessageMail</p><br />
                                            <p>Inte fått länken? Klicka <a href="https://localhost:44309/auth/ResendMail/@Model.StoredID">här</a> för att få en ny</p>
                                        }
                                    </div>
                                    <div class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Logga in</button>
                                    <div class="text-center">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
