@page
@model PrivacyModel
@{
    ViewData["Title"] = "Integritetspolicy";
}
<h1>@ViewData["Title"]</h1>


<p>Vi behöver spara och behandla personuppgifter om dig, så som</p>
<ul>
    <li>Fullständigt namn - syfte: Mottagre utav produkter.</li>
    <li>Adress och / eller faktureingsadress - syfte: Leverans av produkter.</li>
    <li>Telefonnummer - syfte: Kontaktar dig i leveranssyfte. </li>
    <li>Emailadress - syfte: Kontaktar dig i leveranssyfte.</li>
    <li>Betalningsinformation</li>
</ul>

<strong>Lagliga grunder för personuppgiftsbehandlingen</strong>

<p>Ditt samtycke:</p>
<p>Avtalet; behandlingen är nödvändig för Grevens Garderob att fullgöra köpeavtalet mellan dig och Grevens Garderob.</p>


<p>Vi har fått dina uppgifter från dig. Det är inget lagstadgat krav att lämna dina personuppgifter hos oss men det är ett krav för att kunna registrera sig som kund då vi behöver relevant information för leverans av bestälda produkter.</p>
<p>Vi tillämpar vid var tid gällande integritetslagstiftning vid all behandling av personuppgifter.</p>
<p> Du har när som helst rätt att återkalla ditt samtycke till behandlingen. Ett återkallande påverkar inte lagligheten av behandlingen innan samtycket återkallades.</p>
<p>Dina uppgifter kommer att sparas tills du själv väljer att ta bort dom eller avslutar ditt medlemskap hos oss.</p>


<p>
    De personuppgifter vi behandlar om dig kan komma att delas med fraktbolag och betalningstjänter. Vi kan även komma att dela dina personuppgifter med en tredje part,

    förutsatt att vi är skyldiga att göra så enligt lag. Däremot kommer vi aldrig att överföra dina uppgifter till ett land utanför EU.
</p>

<strong>Personuppgiftsansvarig är:</strong>
<a href="mailto:mattias.hermansson.salmi@iths.se">Mattias Hermansson Salmi</a>

<p>
    Du har rätt att kontakta oss om du vill ha ut information om de uppgifter vi har om dig, för att begära rättelse,

    överföring eller för att begära att vi begränsar behandlingen, för att göra invändningar eller begära radering av  dina uppgifter.
</p>

<p>Detta gör du enklast genom att kontakta oss <a href="mailto:ggwebbshop@gmail.com">via den här länken</a>. Du når vårt dataskyddsombud <a href="mailto:antonio.santana@iths.se">via den här länken</a>.</p>

<p> Om du har klagomål på vår behandling av dina personuppgifter har du rätt att inge klagomål till tillsynsmyndigheten Datainspektionen.</p>

<b>Denna integritetspolicy gäller från och med 15 april 2020</b>

