@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>yo quiero mucho de GDPR. Vamos a la playa con Antonio Santana King, escuchar y libre. No? tu eres nada mas. Jugadore de padel. Yo tengo una tortuga que se llama John.
    Yo vivo en Hagsätra que es un pueblo pequeno. Nessecito una cerveza en la avion de espana</p>
