@page
@model GG_Webbshop.Pages.ProductViewModel
@{
}
@if (Model.Message2 != null)
{
    <h2>@Model.Message2</h2>
}

else
{
    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-9">

                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src="~/img/@Model.Product.Image" alt="En fet tröja">
                    <div class="card-body">
                        <h3 class="card-title">@Model.Product.Name</h3>

                        <h4>@Model.Product.Price :-</h4>
                        <p class="card-text">@Model.Product.Description</p>
                        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                        4.0 stars
                        <form method="post">
                            <button type="submit" class="btn btn-dark">Lägg i kundvagnen</button>
                        </form>
                    </div>
                </div>

                <div class="card card-outline-secondary my-4">
                    @*<div class="card-header">
                            Product Reviews
                        </div>
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                            <hr>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                            <hr>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                            <hr>
                            <a href="#" class="btn btn-success">Leave a Review</a>
                        </div>*@
                </div>

            </div>

        </div>

    </div>
}