@page
@model GG_Webbshop.Pages.RegisterPageModel
@{
}


<h1><i>Registrera användare</i></h1>

<h4><i>Personlig information</i></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <p class="text-danger">@Model.ErrorMessage</p>
        }
        else
        {

    <form method="post" autocomplete="off">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label">Användarnamn</label>
            <input asp-for="User.Username" class="form-control" />
            <span asp-validation-for="User.Username" class="text-danger"></span>
            @if (!string.IsNullOrEmpty(Model.MessageUserName))
            {
                <p class="text-danger">@Model.MessageUserName</p>
            }
        </div>
        <div class="form-group">
            <label asp-for="User.Email" class="control-label"></label>
            <input asp-for="User.Email" class="form-control" />
            <span asp-validation-for="User.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">E-post igen(bara dubbelkollar att du stavat allt ordentligt)</label>
            <input asp-for="MailMatch" class="form-control" />
            <span asp-validation-for="MailMatch" class="text-danger"></span>
            @if (!string.IsNullOrEmpty(Model.MessageMail))
            {
                <p class="text-danger">@Model.MessageMail</p>
            }
        </div>
        <div class="form-group">
            <label class="control-label">Lösenord</label>
            <input asp-for="User.Password" type="password" class="form-control" pattern=".{8,}" required title="Minst 8 tecken" />
            <span asp-validation-for="User.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Fullständigt namn</label>
            <input asp-for="User.FullName" class="form-control" />
            <span asp-validation-for="User.FullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Faktureringsadress</label>
            <input asp-for="User.BillingAddress" class="form-control" />
            <span asp-validation-for="User.BillingAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Leveransadress</label>
            <input asp-for="User.DefaultShippingAddress" class="form-control" />
            <span asp-validation-for="User.DefaultShippingAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Land</label>
            <input asp-for="User.Country" class="form-control" />
            <span asp-validation-for="User.Country" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Telefonnummer</label>
            <input asp-for="User.Phone" class="form-control" />
            <span asp-validation-for="User.Phone" class="text-danger"></span>
        </div>


        

        
            <div class="custom-control custom-switch">
                <input type="checkbox" id="switch1" class="custom-control-input" name="c1" onclick="showMe('div1')">
                <label class="custom-control-label" for="switch1">Du godkänner härmed behandlingen av dina personuppgifter.</label>
            </div>
        


        <script>
            window.onload = function () {
                document.getElementById("div1").style.display = 'none';

            }

            function showMe(box) {
                var chboxs = document.getElementsByName("c1");
                var vis = "none";

                for (var i = 0; i < chboxs.length; i++) {
                    if (chboxs[i].checked) {
                        vis = "block";
                        break;
                    }
                }
                document.getElementById(box).style.display = vis;
            }
        </script>
        <br />

        <div id="div1">
            <div class="form-group">
                <input style="width : 200px" type="submit" value="Registrera" class="btn btn-primary" />
            </div>
        </div>
    </form>
        }
        <a asp-page="/Privacy" target="_blank">Läs mer om hur vi behandlar dina personuppgifter här</a>

    </div>
</div>

<div>
    <a asp-page="Index">Tillbaks till startsidan</a>
</div>






