@page
@model GG_Webbshop.Pages.RegisterConfirmationModel
@{
}
<p>Kolla i din angivna e-posts inkorg för att bekräfta att den tillhör dig!</p>
<br />
<p>Skulle du råka klicka tillbaka till tidigare sida får du vara beredd på att du kan få en ny länk som ersätter den gamla!</p>
<br />
<p>  Inte fått något mail? Leta lite bland skräpposten. Du kan klicka <a href="https://localhost:44309/auth/ResendMail/@Model.StoredID">här</a> för ett nytt utskick.</p>
<br />
<p>Fortfarande inte fått något mail? vänligen kontakta oss på ggwebbshop@gmail.com så ordnar vi till detta!</p>
<br />