@page
@model GG_Webbshop.Pages.SuccessfulEmailConfirmModel
@{
}
<p>
    Tack för att du bekräftade din e-post! Nu kan du logga in och börja shoppa som en fett äkta greve!
</p>
<p>Klicka  <a href="/LoginView">här</a>  för att komma till inloggningen</p>