@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
<div class="toast bg-dark text-white w-100 mw-100 alert alert-info alert-dismissible fade show" role="alert">
    <div id="cookieConsent">
        <div class="toast-body p-4 d-flex flex-row">
        Genom att använda vår hemsida godkänner du användandet av cookies.
            <div style="padding-left: 20px">
                <a asp-page="/Privacy" target="_blank">Läs mer</a>
            </div>
        <div class="ml-auto" style="padding-left:20px" >
            <button type="button" class="btn btn-light" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
                <span aria-hidden="true">Godkänn</span>
            </button>
            <a href="/DenyCookiePage" type="button" class="btn btn-outline-light mr-3" id="btnDeny">
                Avböj
            </a>
        </div>

        </div>

    </div>

</div>

    

    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}


