@page
@model GG_Webbshop.Pages.Admin.DeleteAdminViewModel
@{
}
<p class="text-danger">TA BORT ADMINISTRATÖRKONTOT?</p>
<form method="post">
    <input type="submit" value="Delete" class="btn btn-danger" />   |
    <a asp-page="./Index">Tillbaka till startsidan för administratörer</a>
</form>